@import 'variables';

.results {
	display: flex;
	flex-wrap: wrap;
	list-style: outside none none;
	padding: 1em;
	@media only screen and (min-width: $screen-md-min) {
		width: $width-screen-md-min;
		margin: auto;
		max-width: $maxwidth-screen-md-min;
		padding: 3em 0;
	}
	@media only screen and (min-width: $screen-xxl-min) {
		width: $width-screen-xxl-min;
		max-width: $maxwidth-screen-xxl-min;
	}
}

.book-item {
	margin: 0.9em 0.5em;
	width: calc((100% - 2em)/2);
	display: flex;
	flex-direction: column;
	@media only screen and (min-width: $screen-md-min) {
		margin: 1.5em 1em;
		width: calc((100% - 8em)/4);
		padding-bottom: 0.1em;
		border-bottom: thin solid #DBDDE3FF;
	}
	@media only screen and (min-width: $screen-xl-min) {
		margin: 2.5em 2.1em;
		width: calc((100% - 16.8em)/4);
	}
	@media only screen and (min-width: $screen-xxl-min) {
		width: calc((100% - 21em)/5);
	}
}

.image-div {
	width: 90%;
	height: 175px;
	margin: 0 auto;
	position:relative;
	@media only screen and (min-width: $screen-xl-min) {
		width: 80%;
		max-height: 195px;
	}
}

.thumbimg {
	width: 90%;
	height: auto;
	max-height: 175px;
	position:absolute;
	margin: auto;
	left:0;
	right:0;
	bottom:0;
	border: thin solid #D4DBE0FF;
	transition: transform 0.4s;
	@media only screen and (min-width: $screen-xl-min) {
		width: 80%;
		max-height: 195px;
	}
}

.image-div .preview {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	color: $primary-highlight-color;
	font-size: 2em;
	border: none;
	text-decoration: none;
	display:none;
	z-index: 99;
}

.image-div:hover .preview {
	display: block;
}

.image-div:hover .thumbimg {
	opacity: 0.5;
	transform: scale(1.02);
	cursor: pointer;
}

.backup {
	border: thin solid #95939FFF;
	border-radius: 4px;
}

.cover-backup {
	text-align: center;
	padding: 1em 0.5em;
	margin: auto;
}

.title{
	width: 100%;
	color: $secondary-highlight-color;
	font-size: 0.95em;
	padding: 0.5em 0 0.3em;
	text-decoration: none;
}

.title:hover {
	color: $primary-highlight-color;
	font-weight: bold;
}

.subtitle {
	width: 100%;
	font-size: 0.75em;
	padding: 0;
	margin: 0;
	flex-grow: 1;
}

.author {
	font-size: 0.75em;
	margin: 0;
	padding: 0.3em 0;
	font-weight: bold;
}
