@import './partials/variables';

.search-area {
  background-color: white;
  margin: auto;
  padding: 0.7em;
  width: 75%;
  max-width: 400px;
  border: none;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar {
  @include no-outline;
  font-size: 1rem;
  width: 80%;
  padding: 0 0.9em;
  @media only screen and (min-width: $screen-md-min) {
    width: 90%;
  }
}

#search-bar:focus {
  @include no-outline;
}

#search-btn {
  @include no-outline;
  background-color: white;
  color: #f3d9c6;
  border: none;
  width: 20%;
  font-size: 1.3rem;
  @media only screen and (min-width: $screen-md-min) {
    width: 10%;
  }
}

#search-btn:focus, #search-btn:hover{
  @include no-outline;
  cursor: pointer;
  color: $primary-highlight-color;
}