$primary-bg-color: #f9ede4;
$primary-highlight-color: #cc5500;
$primary-font-color: #65646AFF;
$secondary-highlight-color: #D97E25;

// Small tablets (portrait view)
$screen-md-min: 768px;
//Large tablets and desktops
$screen-xl-min: 1200px;
// Large desktops
$screen-xxl-min: 1400px;

@mixin no-outline {
  border: none;
  outline: none;
}